body {
    background: white;
}

@media screen and (max-width: 400px) {
    .contactNavBox {
        flex-direction: column;
    }
}

.contactNavBox {
    color: white;
    background: black;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin: -8px;
}

.contactNavBox h2 {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.contactNavBox h1 {
    font-size: 30px;
    margin-top: 6%;
    margin-bottom: 13px;
}

.contactNavBox a {
    text-decoration: none;
    color: red;
}

.contactNavBox a:hover {
    text-decoration: none;
    color: red;
}

.contactNavBox a:visited {
    color: white;
}

.BelangstellingsForm {
    margin-top: 50px;
}