body {
    background: white;
}

@media screen and (max-width: 400px) {
    .projectNavBox {
        flex-direction: column;
    }
}

.projectNavBox {
    color: white;
    background: black;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin: -8px;
}

.projectNavBox h2 {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.projectNavBox h1 {
    font-size: 30px;
    margin-top: 6%;
    margin-bottom: 13px;
}

.projectNavBox a {
    text-decoration: none;
    color: red;
}

.projectNavBox a:hover {
    text-decoration: none;
    color: red;
}

.projectNavBox a:visited {
    color: white;
}

.ProjectenText {
    margin-top: 50px;
    margin-bottom: 50px;
}

.TronCorruption {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 30px;
}

.TronCorruptionFotos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.DivingForTreasure {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 50px;
}

.WorldOfWonders {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 50px;
}

.Profielwerkstuk {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 20px;
}

.ProfielwerkstukFotos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.StageKruudwis {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 20px;
}

.StageKruudwisFotos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.ProjectClash {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 20px;
}

.ProjectClashFotos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.singelloop {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 20px;
}

.SingelloopFotos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.zomerkamp {
    margin-left: 25%;
    margin-right: 400px;
    margin-bottom: 20px;
}

.zomerkampFotos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

 img {
     margin-right: 1%;
 }