@media screen and (min-width: 701px) {
    .BelangstellingsForm {
        display: inline-block;
        width: 20%;
        height: 30%;
        margin-top: 200px;
        margin-right: 5%;
        flex-direction: column;
        border: 1px solid black;
        float: left;
        margin-left: 20%;
    }

    .BelangstellingsForm input[type=text], select, textarea {
        margin-left: 10%;
        margin-right: 50%;
        margin-bottom: 3%;
    }

    .BelangstellingsForm button {
        margin-top: 5%;
        width: 30%;
        margin-left: 15%;
        margin-bottom: 5%;
    }

    .BelangstellingsForm label {
        margin-top: 3%;
        margin-left: 10%;
    }

    .Contactgegevens {
        display: inline-block;
        border: 1px solid black;
        width: 35%;
        margin-top: 100px;
    }

    .Contactgegevens h3 {
        margin-left: 5%;
    }

    main img {
        margin-left: 8%;
    }

    .Contactgegevens p {
        margin-left: 5%
    }
}

@media screen and (max-width: 700px) {
    .BelangstellingsForm {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .BelangstellingsForm input[type=text], select, textarea {
        margin-bottom: 5%;
    }

    main img {
        margin-left: 30%;
    }

    .Contactgegevens {
        display: inline-block;
        border: 1px solid black;
    }

    .Contactgegevens p, h3  {
        margin-left: 5%;
    }
}

main img {
    margin-top: 8%;
    margin-bottom: 5%;
}