.PersoonlijkeInfo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Familie {
    margin-bottom: 50px;
}

.Opleidingen {
    margin-bottom: 50px;
}

.Werk {
    margin-bottom: 50px;
}

.Hobbys {
    margin-bottom: 50px;
}

.SpecialeTrekjes {
    margin-bottom: 50px;
}

.School2 {
    margin-left: 2%;
}